@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Neue Montreal';
  src: url('/fonts/Neue Montreal/NeueMontreal-Regular.woff2') format('woff2'),
       url('/fonts/Neue Montreal/NeueMontreal-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('/fonts/Neue Montreal/NeueMontreal-Medium.woff2') format('woff2'),
       url('/fonts/Neue Montreal/NeueMontreal-Medium.woff') format('woff');
  font-weight: medium;
  font-style: normal;
}

/* @import url('@fontsource/space-grotesk/index.css'); */

html, body{
  overflow-x: hidden;
  font-family: 'Neue Montreal', sans-serif;
}

* {
  font-family: 'Neue Montreal', sans-serif;
}

.text-gradient{
  background: linear-gradient(86deg, #004FFF 12.97%, #15D300 128.86%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Slick Carousel Custom Styles */
.slick-prev, .slick-next {
  width: 24px;
  height: 24px;
  z-index: 1;
}

.slick-prev:before, .slick-next:before {
  font-size: 24px;
}

.slick-dots li button:before {
  color: #ddd;
}

.slick-dots li.slick-active button:before {
  color: #000;
}

.threeD-asset-bg{
  /* background-image: url('../public/images/3D-Asset.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  background-size: 700px; */
}

nav, .mobile-nav{
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}